.about-img{
    width: auto;
    height: 220px;

}


.about-container {
    background-color: white;
    padding: 50px;
    color:black;
    font-weight: 600;
}

 
.about-heading{
color:rgb(21, 21, 129);

}

.partner-icon{
width:90px;
height: 90px;

}
  