.course-container{
    padding: 20px;
    
    }
    
    .cart{
    margin:10px;
    border:1px solid goldenrod;
    border-radius: 10px;
    padding: 10px;
    height: 540px;
    color:goldenrod;
    
    }

    .logo-img{
        height: 180px;
        width: 210px;
        
    }