/* mentor container starts  */

.mentor-container{
    padding: 20px;
    
}

/* mentor container ends  */
    

/* mentor cart starts  */
    .mentor-cart{
    margin:10px;
    border:1px solid rgb(12, 112, 12);
    border-radius: 10px;
    padding: 10px;
    height: 440px;
    color:rgb(12, 112, 12);
    
}

/* mentor cart ends  */

/* mentor image starts */
.mentor-img{
        height: 110px;
        width: 90px;
        
}

/* mentor image ends  */


