.items {
    list-style: none;
    margin-right: 30px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    padding: 6px;
    text-decoration: none;
  }
  .items:hover {
    color: rgb(31, 29, 29);
    background-color: lightcyan;

  }